[Unit]
Description=Sync managed user configuration files
Before=graphical-session.target plasma-plasmashell.service

[Service]
Type=oneshot
ExecStart=/usr/lib/user-config/sync.sh
RemainAfterExit=yes

[Install]
WantedBy=graphical-session-pre.target
